body{
    font-family: "Poppins", sans-serif;
    background-color: #f3eded;
}

/*-----------------------
----Header section-----
------------------------*/

main{
    margin: 45px 110px;
}

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    height: 500px;
    background-color: black; 
    border: 1px solid black; 
    border-radius: 30px; 
}

.header_content{
    padding-left: 10%; 
    padding-top: 8%; 
}

.header_content h1{
    font-size: 55px;
    margin-bottom: 5px;
}
.header_content p{
    margin-bottom: 30px;
}

.header_content a{
    text-decoration: none;
    background-color: red;
    border: 2px solid red; 
    padding: 10px 25px 10px 10px; 
    border-radius: 5px; 
    color: white; 
    margin-top: 5px;
}


header img{
    height: 95%; 
    padding-top: 3.8%; 
    padding-left: 4%;
}

.text{
    color: white;
}



  /*-----------------------
  ------ Content Section ------
  ------------------------ */


  .content{
    display: grid;
    grid-template-columns: repeat(2, 30% 70%); 
    margin-top: 100px;
  }

  .manus{
    margin-right: 30px; 
  }

  .manu{
    width: 100%;
    height: 340px;
    background-color: black; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
  }

  .manu a{
    border: 2px solid white;
    background-color: white; 
    width: 220px; 
    border-radius: 10px; 
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 5% 8%;
    text-decoration: none;
    text-align: center;
  }
  .manu .blog{
    background-color: red;
    color: rgb(255, 255, 255); 
    border: 2px solid black;
  }

  .newses{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .news_content{
    margin-left: 15px; 
  }

  .news{
    border: 1px solid rgb(200, 197, 197);
    border-radius: 10px;
    margin-bottom: 20px; 
    margin-left: 20px;
  }

  .news img{
    width: 100%;
    margin-bottom: 20px; 
  }

  .transfer{
    text-decoration: none;
    border: 2px solid black; 
    border-radius: 7px; 
    padding: 5px 20px;
    color: black;
  } 

  .Transfer_Live{
    font-weight: 700; 
    margin-bottom: 3px;
  }

  .content_foot{
    display: flex;
  }
  /* .time{
    display: flex;
    justify-content: start;
  }
  .comment{
    display: flex;
    justify-content: center;
  } */

  .content_foot .icon{
    padding-top: 21px; 
  }

  .fa-message{
    margin-left: 25px;
  }
  .content_foot p{
    padding-bottom: 5px;
    padding-left: 7px;
  }



  
  /*-----------------------
  ------ Footer Section ------
  ------------------------ */










